<div class="row col-xl-8 mt-4 mx-auto">
  <div class="col-sm-6">
    <h3>Lorem ipsum...</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
  <div class="col-sm-6">
    <h3>Jakis tekst lub cos...</h3>
    <p>
      Jakis tekst lub cos... Jakis tekst lub cos... Jakis tekst lub cos... Jakis
      tekst lub cos... Jakis tekst lub cos...Jakis tekst lub cos...Jakis tekst
      lub cos...Jakis tekst lub cos...Jakis tekst lub cos...Jakis tekst lub
      cos...Jakis tekst lub cos...Jakis tekst lub cos...Jakis tekst lub
      cos...Jakis tekst lub cos...Jakis tekst lub cos...Jakis tekst lub
      cos...Jakis tekst lub cos...
    </p>
  </div>
</div>
