<div class="col-xl-8 border border-dark mt-4 m-auto p-2">
  <input
    id="gdzieChceszWyjechac"
    type="text"
    class="form-control mb-2"
    placeholder="Gdzie chcesz wyjechać?"
  />
  <div class="row g-2">
    <div class="col-sm">
      <input type="date" class="form-control" placeholder="Kiedy?" />
    </div>
    <div class="col-sm">
      <input type="number" class="form-control" placeholder="Ile osób" />
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button
      class="
        mt-2
        mx-auto
        pt-2
        pb-2
        btn btn-danger
        border border-dark
        text-white
      "
      style="font-weight: bold; width: 100%"
      routerLink="/offers-menu"
    >
      Szukaj
    </button>
  </div>
</div>
